<a href="https://colab.research.google.com/github/Kevin101504/Machine-Learning-Lab/blob/main/ML_Experiment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num1=int(input("Enter num1:"))
num2=int(input("Enter num2:"))
print(num1+num2)

Enter num1:5
Enter num2:3
8

In [ ]:
num=int(input("Enter num"))
if num%2==0:
  print("Even")
else:
  print("Odd")

Enter num54
Even

In [ ]:
num=int(input("Enter num"))
k=0
for i in range (2,num):
  if(num%i==0):
    k+=1
if num==1:
  print("Not Prime")
elif k==0:
  print("Prime")
else:
  print("Not Prime")

Enter num4
Not Prime

In [ ]:
num1=int(input("Enter num1:"))
num2=int(input("Enter num2:"))
num3=int(input("Enter num3:"))
num4=int(input("Enter num4:"))
numlar=max(num1,num2,num3,num4)
print(numlar)

Enter num1:6
Enter num2:4
Enter num3:8
Enter num4:2
8

In [ ]:
val=1
num=int(input("Enter a num:"))
for i in range(1,num+1):
  val=val*i
print(val)

Enter a num:5
120

In [ ]:
num=int(input("Enter a num:"))
num=str(num)
num1=num[::-1]
num1=int(num1)
print(num1)

Enter a num:5467
7645

In [ ]:
str1=input("Enter String:")
temp=str1[::-1]
if temp==str1:
  print("They are palindrome")
else:
  print("They are not palindrome")

Enter String:tuout
They are palindrome

In [ ]:
num=int(input("Enter num:"))
sum=0
digit=0
while num:
  digit=num%10
  num=num//10
  sum=sum+digit
print(sum)

Enter num:456
15

In [ ]:
num=int(input("Enter num"))
for i in range(0,11):
  print(i," x ",num," = ",num*i,"\n")

Enter num6
0  x  6  =  0

1  x  6  =  6

2  x  6  =  12

3  x  6  =  18

4  x  6  =  24

5  x  6  =  30

6  x  6  =  36

7  x  6  =  42

8  x  6  =  48

9  x  6  =  54

10  x  6  =  60

In [ ]:
num1=int(input("Enter num1"))
num2=int(input("Enter num2"))
operator=input("Enter Operation")
match operator:
  case "+":
    print(num1+num2)
  case "-":
    print(num1-num2)
  case "*":
    print(num1*num2)
  case "/":
    print(num1/num2)
  case _:
    print("Enter valid operator")

Enter num110
Enter num25
Enter Operation/
2.0

In [ ]:
i = int(input("Enter a number: "))
for i in range(0,i+1):
  for j in range(0,i):
    print("*",end="")
  print("\n")

Enter a number: 4


*

**

***

****